# Data
data/
results/
*.hdf5
MTemplates/
template_curation/output*/

# Local OS files
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Slurm logs
slurm/step0
slurm/step1
slurm/step2

# Environment
.env
